<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livraria</title>
    <style>
        /* Estilos para alinhar os botões de rádio ao lado dos campos */
        .form-group {
            margin-bottom: 10px;
        }

        .form-group label {
            display: inline-block;
            width: 80px; /* Largura fixa para os rótulos */
        }

        .form-group input[type="text"],
        .form-group input[type="radio"] {
            vertical-align: middle;
        }

        body{
            background-color: rgb(213, 173, 247);
            font-family: cursive;
        }

        button{
            background-color: rgb(185, 173, 198);
            font-family: cursive;
        }
    </style>
</head>
<body>
    <h1>Buscar Livros</h1>
    <form action="/buscar" method="GET">
        <div class="form-group">
            <label for="titulo">Título:</label>
            <input type="text" id="titulo" name="titulo">
            <input type="radio" id="buscaTitulo" name="tipoBusca" value="titulo" checked>
            <label for="buscaTitulo">Título</label>
        </div>

        <form action="/buscar/ano" method="GET">
            <div class="form-group">
                <label for="ano">Ano:</label> 
                <input type="number" id="ano" name="ano">
                <input type="radio" id="buscaAno" name="tipoBusca" value="ano">
                <label for="buscaAno">Ano</label>
            </div>
            <button type="submit">Buscar</button>
        </form>
        
    </form>
    
    <% let contador = 1; %>
    <% if (resultados && resultados.length > 0) { %>
        <h2>Resultados da Busca</h2>
        <ul>
            <% resultados.forEach(livro => { %>
                <li><%= contador++ %> - <%= livro.titulo %> - <%= livro.autor %> (<%= livro.ano %>)</li>
            <% }) %>
        </ul>
    <% } else if (resultados && resultados.length === 0) { %>
        <p>Nenhum livro encontrado.</p>
    <% } %>
    
</body>
</html>
